.menu-link {
    color: #808080;
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.25rem;
}

.menu-link.active {
    color: #333333;
    font-weight: bold;
}

.menu-link:hover {
    text-decoration: underline;
}
