header {
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;

    padding: 0 2.5rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #808080;
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.25rem;
}

header nav ul li a#active {
    color: #333333;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}


header nav ul li:last-child a {
    margin-right: 0;
}


